

#menu .viewport {
    -fx-background-color: transparent;
}
#menu{
    -fx-background-color: transparent;
}

.button {
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-background-radius: 15px;
    -fx-text-fill: #ffffff;

}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #c70ec7;
    -fx-background-radius: 15px;
    -fx-text-fill: black;

}

.button:pressed{
    -fx-rotate: 10;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}