.button{
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-background-radius: 15px;
    -fx-font-size: 16;
    -fx-text-fill: #ffffff;
}

.button:hover{
    -fx-font-weight: bold;
    -fx-background-color: #c70ec7;
    -fx-background-radius: 15px;
    -fx-font-size: 16;
    -fx-text-fill: black;
}
.list-cell{
    -fx-font-family: Rockwell;
    -fx-font-size: 14;
}